# Build artifacts
lang
langlex.c
out
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.lo

# Editor / IDE
.vscode/
*.swp
*.swo
*.user
*.suo
*.DS_Store

# Logs and temp
*.log
*.tmp
*.bak

# macOS
.DS_Store

# Other
*.class
*.pyc
build/